version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=my_app
      - POSTGRES_DATABASE=my_app
      - POSTGRES_PASSWORD=s3cr3t
    ports:
      - '5432:5432'
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
